.productDetail {
  margin-top: 40px;
}
.productDetail__container {
  margin-left: 250px;
  margin-right: 250px;
  background-color: white;
  padding: 25px;
}

.productDetail__items {
  display: flex;
  justify-content: space-between;
}
.productDetail__itemsImage {
  flex: 0.8;
  display: flex;
  justify-content: center;
}
.productDetail__itemsImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 500px;
  max-height: 500px;
}
.productDetail__itemsInfo {
  flex: 0.3;
}
.productDetail__itemsInfo span {
  font-size: 14px;
  margin-bottom: 15px;
}
.productDetail__itemsInfo h2 {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  line-height: 1.18;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}
.productDetail__itemsInfo h1 {
  margin-top: 15px;
  font-weight: 500;
}

.productDetail__itemsInfoButton {
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 24px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  -webkit-font-smoothing: antialiased;
  border-color: transparent;
  background-color: #3483fa;
  color: #fff;
  width: 100%;
  margin-top: 15px;
}

.productDetail__Description {
  width: 80%;
}
.productDetail__Description h2 {
  margin-top: 40px;
  font-weight: 400;
  padding-bottom: 24px;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}
.productDetail__Description span {
  color: #666;
  font-weight: 400;
  word-break: break-word;
  font-size: 12px;
}

@media (min-width: 1900px) {
  .productDetail__container {
    margin-left: 540px;
    margin-right: 540px;
  }
}

@media (max-width: 1290px) {
  .productDetail__container {
    margin-left: 0;
    margin-right: 0;
  }
}
